{% if session.get('role') == 'admin' %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.dashboard') }}">Quản lý hoá đơn</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.admin_products') }}">Quản lý món</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.order_list') }}">Đơn hàng</a>
</li>

{% elif session.get('role') == 'user' %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.menu') }}">Menu</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.menu', category='Topping') }}">Topping</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.cart') }}">
        Giỏ hàng
        {% if cart_count and cart_count > 0 %}
        <span class="badge rounded-pill bg-brown">{{ cart_count }}</span>
        {% endif %}
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('main.my_orders') }}">Đơn của tôi</a>
</li>
{% endif %}
